.nav
	p.cient-name Industrias SA de CV.
	.nav__sections-wrap
		.circle-wrap
			.circle
				img(src="img/icon1.svg")
		.circle-wrap
			.circle
				img(src="img/icon1.svg")
	.nav__sections-wrap
		.circle-wrap
			.circle
				img(src="img/icon1.svg")
		.circle-wrap
			.circle
				img(src="img/icon1.svg")

