div.products
	- for (var x = 1; x < 16; x++)
		div.item
			div.img
				img.product-img
			div.description
				div
					h2.product-name Nombre del producto
					div
						span.small Codigo: 0102102 
						span.small Marca: marca producto
				div
					span.small Precio unitario
					h2.price $2,3433.00
				div.count
					button -
					input(type="number")
					button +


			div.add
				button.add
					p +