@import 'nib'
// global vars

$width-menu-lg = 20em
$width-menu-xs = 15em

$prymariColor = #383680
$bglightColor = #F5F5F5
$topWrap = 2em
$paddinWrap = 2em

// 
$screen-sm-min = 768px
$screen-md-min= 992px
$screen-lg-min = 1200px
body,html
	background-color red
	max-height 100vh
.img-responsive
	width 100%
	height auto
	
.brand
	max-width $width-menu-lg
.wrap
	height 100vh
	display flex
	.menu,.main,.aside
		display flex
		flex-flow column
		position absolute
		transition all 0.3s ease
		// width 100%
		height 100vh
		&__wrap
			display flex
			flex-flow column
			flex-basis 100%
			&-top
				height $topWrap
				padding-left $paddinWrap
				padding-right  $paddinWrap
				height 6em
	.menu
		width 100%
		position absolute
		z-index 10
		transform translate3d(0, 0, 0)
		border-right solid 1px lightgray
		&__wrap
			&-top
				background-color white
	.aside
		width 90%
		background-color orange
		right 0
		z-index 11
		background-color white
		border-left solid 1px lightgray
		transform translate3d(100%, 0, 0)
		// PROBLEMA
		display flex
	.main
		flex-grow 2
		width 100%
		background-color $bglightColor
// root
	.title-main
		display flex
		flex-flow column
		color gray
		font-weight 100
		font-size 1.8em
		span
			font-size 0.4em
.top-main
	display flex
	
	.title
		flex-grow 2
.topnav
	display flex

.hiden-nav
	transform translate3d(-100%, 0, 0) !important
.show-aside
	transform translate3d(0, 0, 0) !important
footer
	padding-top 0.2em
	text-align center
	span
		font-size 0.7em
		color gray
/* Small devices (tablets, 768px and up) */
// @media (min-width: $screen-sm-min) 

// /* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min)
	.molile-element
		display none
	.wrap
		.menu,.main,.aside
			position relative !important
		.main
			width 1%
		.menu
			transform translate3d(0, 0, 0)
			width $width-menu-xs
		.aside
			display flex
			width $width-menu-xs
			transform translate3d(0, 0, 0)
	// root
	.title-main
		font-size 2.2em

// /* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min)
	.wrap
		.menu
			width $width-menu-lg
			
		.aside
			width $width-menu-lg

@import './components/container/index.styl'
@import './components/nav/index.styl'

