doctype
html
	head
		title Sensa
		meta(charset="utf-8")
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='css/normalize.css', rel='stylesheet')
		link(href='css/index.css', rel='stylesheet')
	body
		.wrap
			.menu
				.menu__wrap
					.menu__wrap-top top
			.main
				.main__wrap
					.main__wrap-top top
					include ./components/container/index.jade
			.aside
				.aside__wrap
					.aside__wrap-top top aside 