.main__wrap-container
	// height 100vh
	display flex
	flex-grow 2
	flex-flow column
	padding 1em
	.container__box
		display flex
		flex-flow column
		flex-grow 2
		background-color white
		// height 100%
		border solid 1px ligthgray
		padding 1em
		overflow scroll
		margin-top 0.7em