.aside-products
	h1.items 12
	ul.listproductos
		li
			span.number 2
			span.code 001 - 
			span.name Nombre del produto
		li
			span.number 2
			span.code 001 - 
			span.name Nombre del produto
		li
			span.number 2
			span.code 001 - 
			span.name Nombre del produto
		li
			span.number 2
			span.code 001 - 
			span.name Nombre del produto
		li
			span.number 2
			span.code 001 - 
			span.name Nombre del produto
	.subtotal
		div
			span.label SUBTOTAL
			p.total $2,340.50
			span.label MNX
			br
			button.save Guardar
